DATABASE_URL="postgresql://neondb_owner:npg_tq4I9DmnpBCJ@ep-proud-night-a24o302a.eu-central-1.aws.neon.tech/neondb?sslmode=require"

NEXTAUTH_SECRET="FUEPtB8oKlePvPXmmVZ+UPQ4Fe26EJ3JLX7kMt0iU4Q="
NEXTAUTH_URL="http://localhost:3000"

ANTHROPIC_API_KEY=""

NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="الصراط المستقيم"